@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Fresca&display=swap');

body {
    background-color: #660099;
    background-image: url("../images/homepage/cat-background.jpg");
}

.index-box {
    margin-top: 100px;
    height: 400px;
    width: 500px;
    background-color: #08b5c2;
    border-radius: 25%;
}

.heading {
    margin-top: 50px;
    margin-left: 20px;
    color: #000000;
    font-size: 60px;
    font-family: "Flavors", sans-serif;
}

.play, .instructions {
    color: #000000;
    font-size: 50px;
    font-family: "Fresca", sans-serif;
}

.play {
    margin-left: 200px;
}

.instructions {
    margin-left: 120px;
}