/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Fresca&display=swap');

/*----------------------------------------------------Global Settings */

html {
    /* added height to html to assist with the footer - see bugs/fixes in TESTING.md */
    height: 100%;
}

body {
    /* added min-height, display and flex direction to assist with the footer - see bugs/fixes in TESTING.md */
    background-color: #660099;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.text-align {
    /* used text-align as a global setting as mentioned in David Bowers webinar */
    text-align: center;
}

header {
    padding-top: 20px;
}

h1 {
    color: #D6D6D6;
    font-size: 30px;
    font-family: "Flavors", sans-serif;
}

h2 {
    color: #D6D6D6;
    font-size: 18px;
    font-family: "Flavors", sans-serif;
}

/* h3 {
    color: #E0E1E4;
    font-size: 10px;
    font-family: "Fresca", sans-serif;
    letter-spacing: 1px;
} */

.container-fluid {
    width: 80%;
}

/*----------------------------------------------------Game Statistics */

.game-stats {
    color: #E0E1E4;
    font-size: 15px;
    font-family: "Fresca", sans-serif;
    letter-spacing: 1px;
}

/*----------------------------------------------------Cards*/

.card {
    position: relative;
    width: 4em;
    height: 4em;
    background-color: transparent; /* credits to stack overflow - see bugs/fixes in testing.md */    
    border: none; /* remove automatic border set by Bootstrap */    
    border-radius: 10%;
    cursor: pointer;
    -webkit-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.flip-card {
    /* Use CSS classes to toggle */
    /* received assistance from Tutor Support with Flex - see bugs/fixes in testing.md */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.card .card-front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.card .card-back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.card.flipped .card-front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.card.flipped .card-back {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.card-back,
.card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #000;
    border-radius: 10%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.card-front {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

/*----------------------------------------------------Button */

.flex-row {
    /* received assistance from Tutor Support with Flex - see bugs/fixes in TESTING.md */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.button {
    border: 2px solid #000;
    color: #E0E1E4;
    font-size: 10px;
    font-family: "Fresca", sans-serif;
    letter-spacing: 1px;
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5%;
    display: inline-block;
}

.exit-button {
    position: relative;
    right: 10px;
}

/*----------------------------------------------------Hover */

a:hover {
    color: #E0E1E4;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #000;
}

/*----------------------------------------------------index.html */

.cat-bg {
    /* Image sourced from pngset and modified for use */
    background-image: url("../images/cat-background.jpg");
}

.index-box {
    margin-top: 50px;
    min-height: 250px;
    max-width: 250px;
    background-color: #08b5c2;
    border-radius: 25%;
}

.heading {
    margin-top: 30px;
    color: #000000;

}

.play,
.instructions {
    color: #000;
    font-size: 25px;
    font-family: "Fresca", sans-serif;
}

/*----------------------------------------------------Modal - courtesy of Bootstrap */

.modal-color {
    background-color: #08b5c2;
}

.modal-border {
    border: 2px solid white;
}

.modal-title {
    color: #000;
    font-family: "Flavors", sans-serif;
    font-size: 25px;
    width: 90%;
}

.modal-body {
    color: #000;
    font-family: "Fresca", sans-serif;
    font-size: 13px;
}

/*----------------------------------------------------404 error page*/

.error-page {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*----------------------------------------------------Footer */

footer {
    /* added margin-top to assist with the footer - see bugs/fixes in TESTING.md */
    margin-top: auto;
}

.copyright-style {
    color: #E0E1E4;
    font-family: "Fresca", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 0;
    bottom: 0;
    padding: 2px;
    width: 100%;
}

/*----------------------------------------------------media queries */

/*-------------------------small devices (landscape phones, 576px and up)---*/

@media screen and (min-width: 576px) {

    .container-fluid {
        width: 70%;
    }
    
    /* h2 {
        font-size: 35px;
    } */

    /* .game-stats {
        font-size: 15px;
    } */

    /* .card {
        width: 5em;
        height: 5em;
    } */

    .button {
        font-size: 15px;
    }
}

/*-------------------------medium devices (tablets, 768px and up)---*/

@media screen and (min-width: 768px) {

    .container-fluid {
        width: 60%;
    }

    .index-box {
        min-height: 300px;
        max-width: 300px;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 25px;
    }

    .game-stats {
        font-size: 20px;
    }

    .play,
    .instructions {
        font-size: 40px;
    }

    .modal-title {
        font-size: 40px;
    }

    .modal-body {
        font-size: 20px;
    }

    /* .button {
        font-size: 20px;
    } */
}

/*-------------------------large devices (desktops, 992px and up)---*/

@media screen and (min-width: 992px) {

    .container-fluid {
        width: 50%;
    }

    /* .card {
        width: 6em;
        height: 6em;
    } */

    .button {
        font-size: 20px;
    }
}

/*-------------------------extra large devices (large desktops, 1200px and up)---*/

@media screen and (min-width: 1200px) {

    .container-fluid {
        width: 40%;
    }

    .index-box {
        min-height: 300px;
        max-width: 400px;
    }

    /* .card {
        width: 7em;
        height: 7em;
    } */
}

/*-------------------------extra extra large devices (extra large desktops, 1920px and up)---*/

@media screen and (min-width: 1920px) {

    .container-fluid {
        width: 30%;
    }

    .index-box {
        min-height: 300px;
        max-width: 500px;
    }

    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 45px;
    }

    .game-stats {
        font-size: 35px;
    }

    .button {
        font-size: 25px;
    }

    .card {
        width: 8em;
        height: 8em;
    }
}

