@import url('https://fonts.googleapis.com/css2?family=Flavors&family=Fresca&display=swap');

/*----------------------------------------------------Global Settings*/

html { /*-- added height to html to assist with the footer - see bugs/fixes in TESTING.md*/
    height: 100%;
}

body { /* added min-height, display and flex direction to assist with the footer - see bugs/fixes in TESTING.md*/
    background-color: #660099;
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

.text-align { /*........used text-align as a global setting as mentioned in David Bowers webinar*/
    text-align: center;
} 


header {
    padding-top: 20px;
}

h1 {
    color: #000;
    font-size: 50px;
    font-family: "Flavors", sans-serif;
}

h2 {
    color:#000;
    font-size: 20px;
    font-family: "Flavors", sans-serif;
}

a {    color: #000;
}

/* .game { */
    /* height: 580px; */
    /* width: 580px; */
    /* align-items: center; */
    /* justify-content: center;
    display: flex;
    flex-wrap: wrap; */
    /* margin-left: 35px;
    margin-right: 35px; */
    /* padding: 5px; */
    /* perspective: 1000px; */
/* } */

.game-stats {
    color: #E0E1E4;
    font-size: 15px;
    font-family: "Fresca", sans-serif;
    letter-spacing: 1px;
}

/* .game-margin {
    margin-left: 50px;
    margin-right: 50px;
} */

.flip-card {
    background-color: transparent;
    /* width: 300px; */
    /* height: 200px; */
    perspective: 1000px;
}

.card {
    position: relative;
    width: 3em;
    height: 3em;
    background-color: transparent; /*---credits to stack overflow - see bugs/fixes in testing.md*/
    border: none; /*---remove automatic border set by Bootstrap*/
    border-radius: 10%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .card {
    transform: rotateY(180deg);
}

.card-back, .card-front {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 3px solid #000;
    border-radius: 10%;
    /* backface-visibility: hidden; */
}


.button {
    border: 3px solid #000;
    background-color:#660099;
    color: #000;
    font-size: 15px;
    font-family: "Fresca", sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
    cursor: pointer;
    border-radius: 5%;
    display: inline-block;
}

/*----------------------------------------------------Hover*/

a:hover {
    color: #E0E1E4;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #000;
}

/*----------------------------------------------------index.html*/

.cat-bg { /*.......Image sourced from pngset and modified for use*/
    background-image: url("../images/cat-background.jpg");
}

.index-box {
    margin-top: 50px;
    min-height: 300px;
    max-width: 500px;
    background-color: #08b5c2;
    border-radius: 25%;
}

.heading {
    margin-top: 50px;
}

.play, .instructions {
    color: #000;
    font-size: 40px;
    font-family: "Fresca", sans-serif;
}

/*----------------------------------------------------Modal - courtesy of Bootstrap*/

.modal-title {
    color: #000;
    font-family: "Flavors", sans-serif;
    font-size: 40px;
    width: 90%;
}

.modal-body {
    color: #000;
    font-family: "Fresca", sans-serif;
    font-size: 20px;
}

/*----------------------------------------------------Footer*/

footer { /*-- added margin-top to assist with the footer - see bugs/fixes in TESTING.md*/
    margin-top: auto;
}

.copyright-style {
    color: #E0E1E4;
    font-family: "Fresca", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 0;
    bottom: 0;
    padding: 2px;
    width: 100%;
}

/*-------------------------small devices (landscape phones, 576px and up)---*/

@media screen and (min-width: 576px) {

    .container-fluid {
        width: 80%;
    }
    
    .card {
        width: 5em;
        height: 5em;
        }
    
    }
/*-------------------------medium devices (tablets, 768px and up)---*/

@media screen and (min-width: 768px) {

    .container-fluid {
        width: 70%;
    }
    
    h2 {
        font-size: 35px;
    }

    .game-stats {
        font-size: 30px; /*-----required to see the wording on larger screens*/
    }

    .card {
        width: 5em;
        height: 5em;
        }
}

/*-------------------------large devices (desktops, 992px and up)---*/
@media screen and (min-width: 992px) {

    .container-fluid {
        width: 60%;
    }
    
    .card {
        width: 6em;
        height: 6em;
        }
}

/*-------------------------extra large devices (large desktops, 1200px and up)---*/
@media screen and (min-width: 1200px) {

    .container-fluid {
        width: 60%;
    }
    
    .card {
        width: 7em;
        height: 7em;
        }
}